html {
  color-scheme: dark;

  --c-gray-1: rgb(22, 21, 18);
  --c-gray-2: rgb(38, 36, 33);
  --c-gray-3: rgb(60, 57, 52);
  --c-gray-4: rgb(186, 186, 186);
  --c-gray-5: rgb(255, 255, 255);

  --radius: 3px;
  --shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  font-family: "Noto Sans";
  font-size: 16px;
  background: var(--c-gray-1);
  color: var(--c-gray-4);

  display: flex;
  justify-content: center;
}

main {
  width: 95%;
  max-width: 600px;
  margin: 1rem auto;
  padding: 0.5rem 1rem;

  background: var(--c-gray-2);
  border-radius: var(--radius);
  box-shadow: var(--shadow);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.8rem;
}

.title {
  font-size: 2rem;
  margin-left: 1rem;
}

.image-inputs {
  display: flex;
  justify-content: space-between;
}

.image-inputs > div {
  flex: 0 0 49.5%;
}

.image-inputs input {
  width: 0;
  height: 0;
}

.button {
  background: var(--c-gray-3);
  padding: 0.3rem;
  cursor: pointer;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: filter 150ms;
  filter: brightness(1);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  filter: brightness(1.2);
}

.button[disabled] {
  cursor: not-allowed;
  filter: brightness(0.8);
}

a.button {
  color: inherit;
  text-decoration: none;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px dashed var(--c-gray-3);
  color: var(--c-gray-3);
  font-size: 2rem;
  text-transform: uppercase;
}

.preview--selected {
  border: none;
}

.image-preview {
  width: 100%;
  height: 300px;
}

.image-preview img {
  max-width: calc(100% - 4px);
  max-height: calc(300px - 4px);
  box-shadow: var(--shadow);
}

.result-board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.board-gui {
  width: 256px;
}

.board-gui cg-board {
  pointer-events: none;
  box-shadow: var(--shadow);
}

.board-image {
  width: 256px;
  height: 256px;
}

.board-image img {
  box-shadow: var(--shadow);
}

.fen {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.fen label {
  margin-right: 1rem;
  flex: 0 0 auto;
}

.fen input {
  flex: 1 0 auto;
  padding: 0.3rem 1rem;
  border-radius: var(--radius);
  border: 1px solid rgb(84 84 84);
  background: var(--c-gray-3);
  color: var(--c-gray-4);
}

.separator {
  border-top: 1px dotted var(--c-gray-3);
}

.spinner {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 2px solid var(--c-gray-4);
  border-right-color: transparent;
  animation: spinner_keyframes 0.6s linear infinite;
}

.spinner ~ * {
  visibility: hidden;
}

@keyframes spinner_keyframes {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
